doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="utf-8", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= "Login"
        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
        link(rel="stylesheet", href="https://demos.creative-tim.com/argon-dashboard/assets/vendor/nucleo/css/nucleo.css")
        link(rel="stylesheet", href="https://demos.creative-tim.com/argon-dashboard/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css")
        link(rel="stylesheet", href="https://demos.creative-tim.com/argon-dashboard/assets/css/argon.min.css?v=1.2.0")

    body(class="bg-default")
        div(class="main-content")
            
            div(class="container")
                div(class="row justify-content-center mt-5")
                    div(class="col-lg-5 col-md-7")
                        div(class="card bg-secondary border-0 mb-0")
                            div(class="card-body px-lg-5 py-lg-5")
                                h1= "Error"
                                p= error